<h1>Strategies</h1>

<ul>
  <li *ngFor="let strategy of strategies$">
    <strong>name:</strong> {{ strategy.name }}<br/>

    <strong>parameters:</strong>
    <div *ngFor="let parameter of strategy.parameters">
      <span style="margin-left: 10px">{{ parameter.name }}: {{ parameter.value }}</span><br/>
    </div>

    <strong>is running:</strong> {{ strategy.active }}<br/>
    <a href="#" id="deactivate" *ngIf="strategy.active" (click)="deactivateStrategy(strategy.id)">deactivate</a>
    <a href="#" id="activate" *ngIf="!strategy.active" (click)="activateStrategy(strategy.id)">activate</a>
  </li>
</ul>