<div id="account-state_summary">
  <table *ngIf="accountState$ != null">
    <thead>
    <tr>
      <th>Equity</th>
      <th>Balance</th>
      <th>Positions P/L</th>
      <th>Positions Amount</th>
      <th>Used Margin</th>
      <th>Currency</th>
      <th>Leverage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ accountState$?.equity }}</td>
      <td>{{ accountState$?.balance }}</td>
      <td>{{ accountState$?.positionsProfitLoss }}</td>
      <td>{{ accountState$?.positionsAmount }}</td>
      <td>{{ accountState$?.usedMargin }}</td>
      <td>{{ accountState$?.currency }}</td>
      <td>{{ accountState$?.leverage }}</td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="accountState$ == null">
    Waiting for signal...
  </p>
</div>
