<h1>Account State</h1>
<div id="account-state_summary">
  <table>
    <thead>
    <tr>
      <th>Equity</th>
      <th>Balance</th>
      <th>Positions P/L</th>
      <th>Positions Amount</th>
      <th>Used Margin</th>
      <th>Currency</th>
      <th>Leverage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ equity }}</td>
      <td>{{ balance }}</td>
      <td>{{ positionsProfitLoss }}</td>
      <td>{{ positionsAmount }}</td>
      <td>{{ usedMargin }}</td>
      <td>{{ currency }}</td>
      <td>{{ leverage }}</td>
    </tr>
    </tbody>
  </table>
</div>
