body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;


  #content {

    #top {
      background-color: #FFF;
      padding: 11px;
      border: 0 solid #00A8FF;
      border-bottom-width: 2px;

      table {
        th, td {
          padding-right: 20px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    .component {
      padding: 10px 10px;

      ul {

        &.quotes__list {
          list-style-type: none;

          li {
            background-color: #fff;
            padding: 20px;
            margin-right: 10px;
            height: 50px;
            min-width: 200px;
            display: inline-block;
          }
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color: #00A8FF;
        }

        ul {
          margin-top: 20px;

          li {
            padding: 0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
