<form [formGroup]="backtestForm" (ngSubmit)="onSubmit()">
  <label>
    Test name: <input formControlName="title"/>
  </label>

  <p><strong>Parameters:</strong></p>

  <ul>
    <li *ngFor="let param of availableParameters">
      {{ param.name }}: {{ param.type }}
      <button type="button" (click)="addParameter(param.name)">Specify</button>
    </li>
  </ul>

  <p><strong>Values:</strong></p>

  <div formArrayName="parameters">
    <div *ngFor="let item of parameters.controls; let paramIndex=index" [formGroupName]="paramIndex">
      <div *ngIf="item.value.name != ''">
        <input disabled class="input--invisible" formControlName="name"/>: <input formControlName="value"/>
        <button type="button" (click)="deleteParameter(paramIndex)">X</button>
      </div>
    </div>
  </div>

  <p><strong>Criterions:</strong></p>

  <div formArrayName="criterions">
    <div *ngFor="let item of criterions.controls; let paramIndex=index" [formGroupName]="paramIndex">
      <select formControlName="name">
        <option>-</option>
        <option *ngFor="let crit of availableCriterions">{{crit}}</option>
      </select>
      <button type="button" (click)="deleteCriterions(paramIndex)">X</button>
    </div>
  </div>

  <br/>

  <button type="button" (click)="addCriterion('')">Add</button>

  <p><strong>Time window:</strong></p>

  <div formGroupName="time">
    <label for="from">
      From
      <input id="from" type="date" formControlName="from">
    </label>
    <label for="window">
      Window
      <select id="window" formControlName="window">
        <option *ngFor="let window of windows" value="{{ window.value }}">{{ window.name }}</option>
      </select>
    </label>
  </div>

  <br/><br/>

  <button type="submit">Run</button>
  <p>Status: {{ status }}</p>
</form>
