<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">
          dashboard
        </i>
      </a>
    </li>
    <li>
      <a routerLink="backtest" [class.activated]="currentUrl.startsWith('/backtest')">
        <i class="material-icons">
          tune
        </i>
      </a>
    </li>
    <li>
      <a routerLink="historical" [class.activated]="currentUrl.startsWith('/historical')">
        <i class="material-icons">
          date_range
        </i>
      </a>
    </li>
  </ul>
</nav>
